* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper {
    display:grid;
    grid-template-columns: 25vw 75vw;
    border:1px solid black;
}

.wrapper-two {
    border:1px solid black;
    display:grid;
    grid-template-rows:1fr 4fr;
}

.sidebar {
    grid-column: 1 / 2;
    border:1px solid black;
    font-size: 25px;
    display:grid;
    background-color: rgb(85, 142, 249);
    color:white;
    gap:30px;
}

.logo {
    grid-row:1/2;
}

.nav {
    grid-row:2/3;
    /* margin-top:20px; */
    display:grid;
    gap:15px;
}

a {
    text-decoration: none;
    color:white;
    font-size: 20px;
}

.branding {
    grid-row:3/4;
    display:grid;
    gap:15px;
}

.header {
    grid-row: 1 / 2;
    display:grid;
    grid-template-columns: 1fr 1fr;
    border:1px solid black;
}

.header input {
    width:100%;
    border-radius:10px;
    background-color: rgb(241, 239, 239);
}

.content {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    grid-column:2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}