* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto;
}

img {
    height:34px;
    width:34px;
    color:white;
}

.wrapper {
    display:grid;
    grid-template-columns: 20vw 80vw;
}

.wrapper-two {
    border:1px solid black;
    display:grid;
    grid-template-rows:1fr 4fr;
}

.sidebar {
    grid-column: 1 / 2;
    font-size: 30px;
    display:grid;
    background-color: rgb(85, 142, 249);
    color:white;
    align-content: flex-start;
    gap:30px;
}

.logo {
    display:flex;
}

.nav {
    display:grid;
    gap:15px;
}

a {
    text-decoration: none;
    color:white;
    font-size: 20px;
}

.branding {
    display:grid;
    gap:15px;
}

.header {
    grid-row: 1 / 2;
    display:grid;
    grid-template-columns: 1fr 1fr;
    border:1px solid black;
}

.header input {
    width:100%;
    border-radius:10px;
    background-color: rgb(241, 239, 239);
}

.content {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    grid-column:2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}