* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto;
}


.wrapper {
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row:1/3;
    font-size: 1.5rem;
    display:grid;
    background-color: rgb(85, 142, 249);
    color:white;
    align-content: flex-start;
    gap:3rem;
    padding:1.5rem;
    text-shadow: 0 0 5px black;
}

.logo {
    display:flex;
    align-items: center;
    gap:.5rem;
}

.logo img {
    height:1.75rem;
    width:1.75rem;
}

.nav, .settings{
    display:grid;
    gap:1.25rem;
}

a {
    text-decoration: none;
    color:white;
    font-size: 1.25rem;
}

a:hover {
    text-decoration: underline;
}

.nav img,.settings img {
    height:17px;
    width:17px;
}

/*Header section*/

.header {
    grid-row: 1 / 2;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding:1rem;
    row-gap: 1rem;
    /* margin-left:.75rem; */
}

.header img,.content img {
    height:15px;
    width:15px;
}

.search {
    grid-column:1 / 2;
    grid-row:1 / 2;
    display:flex;
}

form {
    padding:1rem; 
    display:flex;
    gap:.75rem;
    align-items: center;
    width:100%;
}

.header input {
    width:100%;
    border-radius:.75rem;
    background-color: rgb(232, 229, 229);
    height:1.5rem;
    border:none;
}

.welcome {
    grid-column:1 / 2;
    grid-row:2 / 3;
    display:flex;
    align-items: center;
    margin-left: .75rem;
    gap:1.25rem;
}

.welcome img {
    height:50px;
    width:50px;
    border-radius: 100%;
}

.welcome p {
    font-weight: 600;
    font-size: .75rem;
}

.welcome p span {
    font-weight: 800;
    font-size:1.25rem;
}

.profile {
    grid-column:2 / 3;
    grid-row:1 / 2;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    font-weight: 800;
}

.profile .notification-bell {
    height:1.5rem;
    width:1.5rem;
}

.profile .profile-image {
    border-radius: 100%;
    height:2.15rem;
    width:2.15rem;
}


.commands {
    grid-column:2 / 3;
    grid-row:2 / 3;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    align-items: center;
}

.commands button {
    height:2.25rem;
    width:5.5rem;
    border-radius:15px;
    border:none;
    background-color: rgb(85, 142, 249);
    color:white;
    cursor: pointer;
}

/*Content section*/

.content {
    grid-column:2 / 3;
    grid-row:2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:1fr 1fr;
    background-color: rgb(232, 229, 229);
    box-shadow: inset 0 1px 5px gray;
}

.projects {
    grid-column:1 / 2;
    grid-row:1/3;
    display:flex;
    flex-direction: column;
    padding-left:1.25rem;
    /* padding-bottom:4rem; */
    gap:1.25rem; 
}


.projects-title {
    padding-top:.75rem;
    font-weight:800;
}

.project-cards {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:1.25rem;
}

.projects > p,.title {
    font-weight:800;
}

.card {
    display:flex;
    flex-direction: column;
    background-color:white;
    border-left:.5rem solid orange;
    border-radius: .75rem;
    justify-content: space-evenly;
    box-shadow:  0 0 2px black;
    gap:.75rem;
}

.card-icons {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap:.75rem;
    padding-right:1.25rem;
}

.title,.explanation {
    padding-left:1.25rem;
} 

.right-side-bar {
    grid-column: 2/3;
    grid-row:1/3;
    display:flex;
    flex-direction: column;
    gap:1.25rem;
}

.announcements-title {
    /* grid-row:1/2;  */
    padding-left: 20px;
    padding-top:10px;
    font-weight: 800;
}

.announcements {
    grid-column:2/3; 
    grid-row:1 / 2;
    display:grid;
    /* grid-template-rows: 1fr 5fr; */
    padding-left:20px;
}

.announcements-card {
    grid-row:2/3;
    background-color: white;
    box-shadow:  0 0 2px black;
    border-radius:5px;
    margin-right:20px;
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:10px;
}

.title {
    /* padding-bottom:10px; */
}



.trending {
    grid-row: 2/3; 
    font-weight:800;
    margin-left:20px;
    padding-top:10px;
    /* padding-bottom:60px; */

}

/* .announcements-card p{
    padding:10px;
} */

.trending-cards-container {
    display:flex;
    flex-direction: column;
    background-color: white;
    font-weight: 500;
    margin-right:20px;
    border-radius:5px;
    font-size:12px;
    box-shadow:  0 0 2px black;
}

.trending-card {
    display:flex;
    padding:10px;
    align-items: center;
}

.trending-image img {
    height:30px;
    width:30px;
    
}

/*

.trending-info {
    margin-left:20px;
} */

/* .announcements-card > *div:last-child{
    padding:15px;
} */